<template>
    <div class="home-page">
        <h1>{{title}}</h1>
    </div>
</template>

<script>
    export default {
        data: function() {
            return {
                title: ""
            }
        }
    }
</script>